// /* ************ VARIABLES ************ */

// /* ******* COMMON ******* */

@CM-MinWidth: 1000px;
@CM-WrapperIndent: 12px;
@CM-Transition-Duration: 300ms;
@CM-Transition-DurationReverse: 100ms;
@CM-Opacity-Hover: 0.7;

// /* *** PATH *** */

@Path-Image: '../img';

// /* *** FONT *** */

@Font-Base-Family: Tahoma, Geneva, sans-serif;
@Font-Base-LineHeight: 18px;
@Font-Base-Size: 14px;
@Font-Base-SizeSecondary: 12px;
@Font-Base-Weight: normal;

@Font-Slider-Family: 'Open Sans', Arial, Helvetica, sans-serif;
@Font-Slider-LineHeight: 60px;
@Font-Slider-Size: 50px;
@Font-Slider-Weight: bold;
@Font-Slider-LineHeightH2: 45px;
@Font-Slider-SizeH2: 30px;
@Font-Slider-LineHeightH3: 36px;
@Font-Slider-SizeH3: 24px;

@Font-Header-Family: 'PT Sans Narrow', sans-serif;
@Font-Header-Size: 14px;

@Font-ButtonBig-Size: 22px;
@Font-ButtonMedium-Size: 14px;
@Font-ButtonBig-Weight: normal;

@Font-Input-Size: 17px;
@Font-Input-LineHeight: 22px;

@Font-TitleSmall-Size: @Font-Base-SizeSecondary;

// /* *** COLORS *** */

@Color-Base: #000000;
@Color-Active: #009fda;
@Color-Active-Secondary: #cf1715;
@Color-Alt: #47b537;
@Color-Link: @Color-Active;
@Color-LinkHover: @Color-Link;
@Color-Hint: #a0a0a0;
@Color-Placeholder: @Color-Hint;
@Color-Header: #ffffff;
@Color-Button: #ffffff;
@Color-Input: @Color-Base;
@Color-Border: #e2e2e2;
@Color-TitleSmall: #4d4d4d;
@Color-Slider: #ffffff;

// /* *** BACKGROUNDS *** */

@Background-Base: #ffffff;
@Background-Base-Dark: #1e1e1e;
@Background-Active: @Color-Active;
@Background-Active-Secondary: @Color-Active-Secondary;
@Background-Alt: @Color-Alt;
@Background-Twitter: #30bbe9;
@Background-Facebook: #325190;
@Background-Button-Active: @Background-Active;
@Background-Button-Alt: @Background-Alt;
@Background-Input: #f9f9f9;

// /* *** BORDERS *** */

@Border-Base-Size: 1px;
@Border-Base: @Border-Base-Size solid @Color-Border;
@Border-Active-Size: 2px;
@Border-Active: @Border-Active-Size solid @Color-Active;

// /* ******* PARTS ******* */

// /* *** ICONS *** */

@PT-Icon-Duration: @CM-Transition-Duration;
@PT-Icon-DurationReverse: @CM-Transition-DurationReverse;
@PT-Icon-Linked-Opacity: @CM-Opacity-Hover;

// /* *** MENU *** */

@PT-Menu-Sidebar-Height: 26px;
@PT-Menu-Sidebar-Indent: 8px;
@PT-Menu-Sidebar-IndentIconLeft: 4px;

// /* *** FORM *** */

@PT-Form-FieldHeight: 28px;
@PT-Form-FieldIndent: 16px;
@PT-Form-FieldInnerIndent: @PT-Form-FieldIndent / 2;
@PT-Form-FieldTitleWidth: 150px;

// /* *** INPUTS *** */

@PT-Input-Height: @PT-Form-FieldHeight;
@PT-Input-Indent: 4px;
@PT-Input-Radius: 0px;
@PT-Textarea-Height: 100px;
@PT-Select-Size: 7;

// /* *** BUTTONS *** */

@PT-Buttons-Indent: @PT-Form-FieldIndent;
@PT-Button-Radius: 0px;
@PT-Button-IndentY: @PT-Form-FieldIndent;
@PT-Button-PaddingWidth: 16px;
@PT-Button-PaddingBigWidth: 40px;
@PT-Button-Duration: @CM-Transition-Duration;
@PT-Button-DurationReverse: @CM-Transition-DurationReverse;

// /* *** OVERLAY *** */

@PT-Overlay-Duration: 1000ms;

// /* *** GRID *** */

@PT-Grid-ItemIndents: 1px 2px;
@PT-Grid-ItemIndent: 0px;

// /* *** USER BOX *** */

@PT-UserBox-Sizes: 34 100;

// /* ******* LAYOUTS ******* */

// /* *** SLIDER *** */

@LT-Slider-BackgroundWidth: 1500px;
@LT-Slider-ButtonSize: 16px;
@LT-Slider-ButtonBackground: @Background-Base;
@LT-Slider-ButtonBackgroundActive: @Background-Active-Secondary;

// /* *** SPLASH *** */

@LT-Splash-HeaderHeight: 33px;
@LT-Splash-FooterHeight: 160px;

// /* *** LOGIN *** */

@LT-Login-Width: 380px;
@LT-Login-PaddingWidth: 50px;
@LT-Login-Background: @Background-Base;

// /* *** BASE *** */

@LT-Base-HeaderHeight: 50px;
@LT-Base-ButtonsPadding: 32px;
@LT-Base-ButtonsIndent: 16px;

// /* *** SIDEBAR *** */

@LT-Sidebar-Width: 200px;
@LT-Sidebar-Duration: 300ms;
@LT-Sidebar-PanelBottom-Height: 48px;
@LT-Sidebar-InnerIndent: 8px;