/* ******* LAYOUTS: LOGIN ******* */

.lt__login {
    width: @LT-Login-Width;
    background: @LT-Login-Background;
    position: relative;

    &:after {
        width: 20px;
        display: block;
        position: absolute;
        .mix-position(20px, -20px, 0, auto);
        opacity: 0.6;
        content: '';
        .mix-linear-gradient(~'to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%');
    }

    > .inner {
        padding: 34px @LT-Login-PaddingWidth 44px;
    }

    &.pull-left {
        float: left;
    }

    &.pull-center {
        margin: 0 auto;
    }

    &.pull-right {
        float: right;
    }
}

.lt__login__logo {
    margin: 0 0 @PT-Form-FieldIndent;
}

.lt__login__social-login {
    margin: 0 0 30px;
}

.lt__login__form {
    margin: 0 0 6px;
}

.lt__login__links {
    margin: 0 0 20px;
}

.lt__login__submit-box {
    margin: 0;
}