/* ******* LAYOUTS: SPLASH ******* */

.lt__splash {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

/* *** HEADER *** */

.lt__splash__header {
    &:extend(.clearfix all);

    height: @LT-Splash-HeaderHeight;
    position: fixed;
    .mix-position(0, 0, auto, 0);
    z-index: 4;
    background: url('@{Path-Image}/layouts/splash/header-bg.png') 100% 0 no-repeat;

    .header-menu {
        margin: 0 18px 0 0;
        float: right;
        padding: ((@LT-Splash-HeaderHeight - @Font-Base-LineHeight) / 2) 0;
    }
}

/* *** CONTENT *** */

.lt__splash__content {
    padding: 0 0 @LT-Splash-FooterHeight 0;

    .lt__slider__buttons {
        z-index: 3;
        .mix-position(auto, 0, (@LT-Splash-FooterHeight + 25px), 0);
    }
}

.lt__splash__slide-text-1 {
    padding: 265px 0 0 0;
    font-size: 50px;
    line-height: 60px;
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.lt__splash__slide-text-2 {
    padding: 110px 0 0 22px;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
}

.lt__splash__slide-text-3 {
    padding: 65px 0 0 0;
    font-size: 50px;
    line-height: 60px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
}

.lt__splash__main {
    &:extend(.cm-scroll-y-a, .cm-block-wrapper all);

    position: relative;
    z-index: 2;

    > .inner {
        &:extend(.clearfix all);

        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* *** FOOTER *** */

.lt__splash__footer {
    &:extend(.cm-block-wrapper all);

    height: @LT-Splash-FooterHeight;
    position: absolute;
    .mix-position(auto, 0, 0, 0);
    z-index: 3;
    overflow: hidden;
    background: @Background-Base;

    &:before {
        height: 20px;
        display: block;
        position: absolute;
        .mix-position(-20px, 0, auto, 0);
        z-index: -1;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        content: '';
    }

    > .inner {
        &:extend(.clearfix all);
        
        position: relative;
        z-index: 1;

        > .l {
            padding: 45px 0 0 0;
            float: left;
        }

        > .r {
            padding: 62px 0 0 0;
            float: right;
        }
    }

    .pt__menu--footer {
        margin: 0 0 26px;
    }

    .pt__share--footer {
        margin: 0 16px 0 0;
        float: left;
    }
}

.lt__splash__copyright {
    float: left;
    white-space: nowrap;
    line-height: 28px;
    font-size: @Font-Base-SizeSecondary;
    color: #646464;
}