@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);
/* ************ PARTS ************ */
/* ******* PARTS: FONT ******* */
.font-link,
a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
.font-link:hover,
a:hover {
  text-decoration: underline;
}
.font-header-menu,
.pt__menu-header > ul > li > a {
  font: 700 14px/18px 'PT Sans Narrow', sans-serif;
  color: #ffffff;
}
.font-button-big,
.button.size-44,
input[type="button"].size-44,
input[type="submit"].size-44,
input[type="reset"].size-44,
button.size-44 {
  font: bold 16px/18px Tahoma, Geneva, sans-serif;
  color: #ffffff;
}
.font-button-medium,
.button.size-36,
input[type="button"].size-36,
input[type="submit"].size-36,
input[type="reset"].size-36,
button.size-36 {
  font: bold 14px/18px Tahoma, Geneva, sans-serif;
  color: #ffffff;
}
/* ******* PARTS: TAGS ******* */
html,
body {
  width: 100%;
  height: 100%;
}
body {
  min-width: 1000px;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}
img {
  border: none;
  -webkit-transform: translateZ(0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
dl,
dt,
dd,
canvas,
iframe,
form {
  padding: 0;
  margin: 0;
  display: block;
  text-indent: 0;
}
/* *** TEXT *** */
/* *** INPUTS *** */
/* ******* PARTS: COMMON ******* */
.clearfix:after,
.lt__splash__header:after,
.lt__splash__content > .inner:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
  height: 0;
}
/* ******* INLINE ******* */
.hidden {
  display: none !important;
}
.inline {
  display: inline-block !important;
}
.margin-none {
  margin: 0 !important;
}
.align-left {
  text-align: left !important;
}
.align-center {
  text-align: center !important;
}
.align-right {
  text-align: right !important;
}
.valign-top {
  vertical-align: top !important;
}
.valign-middle {
  vertical-align: middle !important;
}
.valign-bottom {
  vertical-align: bottom !important;
}
/* ******* STATIC ******* */
.cm-ul-inline,
.pt__menu-header > ul {
  text-align: left;
  font-size: 0;
}
.cm-ul-inline > li,
.pt__menu-header > ul > li {
  display: inline-block;
  vertical-align: top;
}
.cm-ul-clear,
.lt__splash__bg > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cm-ul-clear > li,
.lt__splash__bg > ul > li {
  margin: 0;
  padding: 0;
}
.cm-scroll-y {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
}
.cm-scroll-y-a,
.lt__splash__content {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-y: auto;
}
.cm-block-wrapper > .inner,
.lt__splash__content > .inner,
.lt__splash__footer > .inner {
  max-width: 1000px;
  margin: 0 auto;
}
.cm-image-resizable {
  width: 100%;
  height: auto;
  display: block;
}
.cm-image-flexible {
  width: 100%;
  height: 100%;
  display: block;
}
.cm-image-adaptive,
.lt__login__logo {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
}
.cm-text-overflow,
.button,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* ******* PARTS: ICONS ******* */
.icon {
  background: transparent 50% 50% no-repeat;
}
.icon.hidden {
  visibility: hidden;
}
.icon.inline {
  display: inline-block;
  vertical-align: top;
}
.icon.linked {
  cursor: pointer;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.icon.linked:hover {
  opacity: 0.7;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}
.icon.size-36 {
  width: 36px;
  height: 36px;
}
.icon.size-36.facebook {
  background-image: url("../img/icons/36/facebook.png");
}
.icon.size-36.twitter {
  background-image: url("../img/icons/36/twitter.png");
}
/* ******* PARTS: BUTTONS ******* */
.button,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  margin: 0;
  padding: 0 16px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-appearance: none;
  border: none;
  border-radius: 0px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}
.button.has-icon,
input[type="button"].has-icon,
input[type="submit"].has-icon,
input[type="reset"].has-icon,
button.has-icon {
  text-align: left;
  padding-left: 0;
}
.button.has-icon .icon,
input[type="button"].has-icon .icon,
input[type="submit"].has-icon .icon,
input[type="reset"].has-icon .icon,
button.has-icon .icon {
  margin-right: 16px;
}
.button.size-44,
input[type="button"].size-44,
input[type="submit"].size-44,
input[type="reset"].size-44,
button.size-44 {
  height: 44px;
  line-height: 44px;
}
.button.size-36,
input[type="button"].size-36,
input[type="submit"].size-36,
input[type="reset"].size-36,
button.size-36 {
  height: 36px;
  line-height: 36px;
}
.button.style-twitter,
input[type="button"].style-twitter,
input[type="submit"].style-twitter,
input[type="reset"].style-twitter,
button.style-twitter {
  background-color: #30bbe9;
}
.button.style-twitter.size-36,
input[type="button"].style-twitter.size-36,
input[type="submit"].style-twitter.size-36,
input[type="reset"].style-twitter.size-36,
button.style-twitter.size-36 {
  font-weight: normal;
}
.button.style-twitter.has-icon .icon,
input[type="button"].style-twitter.has-icon .icon,
input[type="submit"].style-twitter.has-icon .icon,
input[type="reset"].style-twitter.has-icon .icon,
button.style-twitter.has-icon .icon {
  border-right: 1px solid #4fc5ec;
}
.button.style-facebook,
input[type="button"].style-facebook,
input[type="submit"].style-facebook,
input[type="reset"].style-facebook,
button.style-facebook {
  background-color: #325190;
}
.button.style-facebook.size-36,
input[type="button"].style-facebook.size-36,
input[type="submit"].style-facebook.size-36,
input[type="reset"].style-facebook.size-36,
button.style-facebook.size-36 {
  font-weight: normal;
}
.button.style-facebook.has-icon .icon,
input[type="button"].style-facebook.has-icon .icon,
input[type="submit"].style-facebook.has-icon .icon,
input[type="reset"].style-facebook.has-icon .icon,
button.style-facebook.has-icon .icon {
  border-right: 1px solid #516ba1;
}
.pt__buttons {
  margin-top: 16px;
}
.pt__buttons.is-block .button,
.pt__buttons.is-block .browse-button,
.pt__buttons.is-block input[type="button"],
.pt__buttons.is-block input[type="submit"],
.pt__buttons.is-block input[type="reset"],
.pt__buttons.is-block button {
  width: 100%;
  display: block;
  margin: 16px 0 0 0;
  float: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pt__buttons.is-block .button:first-child,
.pt__buttons.is-block .browse-button:first-child,
.pt__buttons.is-block input[type="button"]:first-child,
.pt__buttons.is-block input[type="submit"]:first-child,
.pt__buttons.is-block input[type="reset"]:first-child,
.pt__buttons.is-block button:first-child {
  margin: 0;
}
/* ******* PARTS: MENU ******* */
.pt__menu-header {
  float: right;
  margin: 0 18px 0 0;
}
.pt__menu-header > ul {
  text-align: left;
  font-size: 0;
}
.pt__menu-header > ul > li {
  display: inline-block;
  vertical-align: top;
  margin: 0 18px 0 0;
}
.pt__menu-header > ul > li > a {
  text-transform: uppercase;
}
.pt__menu-header > ul > li:last-child {
  margin-right: 0;
}
/* ************ LAYOUTS ************ */
/* ******* LAYOUTS: LOGIN ******* */
.lt__login {
  width: 380px;
  background: #ffffff;
  position: relative;
}
.lt__login:after {
  width: 20px;
  display: block;
  position: absolute;
  top: 20px;
  right: -20px;
  bottom: 0;
  left: auto;
  opacity: 0.6;
  content: '';
  background-image: -webkit-linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}
.lt__login > .inner {
  padding: 34px 50px 44px;
}
.lt__login.is-right {
  float: right;
}
/* ******* LAYOUTS: SPLASH ******* */
.lt__splash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.lt__splash__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.lt__splash__bg > ul {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.lt__splash__bg > ul > li {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}
.lt__splash__bg > ul > li:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 200px #000000;
  content: '';
}
.lt__splash__bg > ul > li .bg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}
@media only screen and (max-width: 1500px) {
  .lt__splash__bg > ul > li .bg {
    width: 1500px;
    left: 50%;
    margin-left: -750px;
  }
}
.lt__splash__bg > ul > li.is-active {
  z-index: 2;
  visibility: visible;
  opacity: 1;
}
.lt__splash__header {
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 4;
  background: url('../img/layouts/splash/header-bg.png') 100% 0 no-repeat;
}
.lt__splash__header .pt__menu-header {
  padding: 7.5px 0;
}
.lt__splash__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 160px;
  left: 0;
  z-index: 3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.lt__splash__content > .inner {
  padding-top: 100px;
  padding-bottom: 100px;
}
.lt__splash__footer {
  height: 160px;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: #ffffff;
}
/* ************ MAIN STYLES ************ */
