@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);
/* ************ PARTS ************ */
/* ******* PARTS: FONT ******* */
.font-base,
body,
.cm-ul-inline > li,
.pt__grid > ul > li,
.pt__grid > ul > li,
.pt__menu > ul > li,
.pt__share > ul > li,
.pt__markets > ul > li,
.lt__slider__buttons > ul > li {
  font: normal 14px/18px Tahoma, Geneva, sans-serif;
  color: #000000;
}
.font-link,
a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #009fda;
}
.font-link:hover,
a:hover {
  text-decoration: none;
  color: #009fda;
}
.font-header,
.pt__menu--header > ul > li > a,
.pt__user-dropdown--header > .name {
  font: 700 14px/18px 'PT Sans Narrow', sans-serif;
  color: #ffffff;
}
.font-input,
.input,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="phone"],
input[type="password"],
textarea,
select {
  font: normal 17px/22px Tahoma, Geneva, sans-serif;
  color: #000000;
}
.font-button-big,
.button.size-44,
input[type="button"].size-44,
input[type="submit"].size-44,
input[type="reset"].size-44,
button.size-44 {
  font: bold 16px/18px Tahoma, Geneva, sans-serif;
  color: #ffffff;
}
.font-button-medium,
.button.size-36,
.button.size-32,
.button.size-28,
input[type="button"].size-36,
input[type="button"].size-32,
input[type="button"].size-28,
input[type="submit"].size-36,
input[type="submit"].size-32,
input[type="submit"].size-28,
input[type="reset"].size-36,
input[type="reset"].size-32,
input[type="reset"].size-28,
button.size-36,
button.size-32,
button.size-28 {
  font: bold 14px/18px Tahoma, Geneva, sans-serif;
  color: #ffffff;
}
.font-title-small,
.lt__sidebar__block > dt .title,
.lt__sidebar__block > dt .counter {
  font: bold 12px/18px Tahoma, Geneva, sans-serif;
  color: #4d4d4d;
  text-transform: uppercase;
}
/* ******* PARTS: TAGS ******* */
html,
body {
  width: 100%;
  height: 100%;
}
body {
  min-width: 1024px;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}
img {
  border: none;
  -webkit-transform: translateZ(0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
dl,
dt,
dd,
canvas,
iframe,
form {
  padding: 0;
  margin: 0;
  display: block;
  text-indent: 0;
}
/* *** TEXT *** */
/* *** INPUTS *** */
input[type="file"] {
  width: 100%;
  cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
/* ******* PARTS: COMMON ******* */
.clearfix:after,
.pt__form dl:after,
.pt__search:after,
.pt__user-dropdown:after,
.lt__splash__header:after,
.lt__splash__main > .inner:after,
.lt__splash__footer > .inner:after,
.lt__base__header > .inner:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
  height: 0;
}
/* ******* INLINE ******* */
.hidden {
  display: none !important;
}
.inline {
  display: inline-block !important;
}
.margin-none {
  margin: 0 !important;
}
.align-left {
  text-align: left !important;
}
.align-center {
  text-align: center !important;
}
.align-right {
  text-align: right !important;
}
.valign-top {
  vertical-align: top !important;
}
.valign-middle {
  vertical-align: middle !important;
}
.valign-bottom {
  vertical-align: bottom !important;
}
/* ******* STATIC ******* */
.cm-ul-inline,
.pt__grid > ul,
.pt__menu > ul,
.pt__share > ul,
.pt__markets > ul,
.lt__slider__buttons > ul {
  text-align: left;
  font-size: 0;
}
.cm-ul-inline > li,
.pt__grid > ul > li,
.pt__menu > ul > li,
.pt__share > ul > li,
.pt__markets > ul > li,
.lt__slider__buttons > ul > li {
  display: inline-block;
  vertical-align: top;
}
.cm-ul-clear,
.pt__grid > ul,
.pt__menu > ul,
.pt__share > ul,
.pt__markets > ul,
.lt__slider__buttons > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cm-ul-clear > li,
.pt__grid > ul > li,
.pt__menu > ul > li,
.pt__share > ul > li,
.pt__markets > ul > li,
.lt__slider__buttons > ul > li {
  margin: 0;
  padding: 0;
}
.cm-scroll-y {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
}
.cm-scroll-y-a,
.lt__sidebar > .inner > .top,
.lt__splash__main {
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-y: auto;
}
.cm-block-wrapper > .inner,
.lt__splash__main > .inner,
.lt__splash__footer > .inner {
  max-width: 1000px;
  margin: 0 auto;
}
.cm-image-resizable {
  width: 100%;
  height: auto;
  display: block;
}
.cm-image-flexible {
  width: 100%;
  height: 100%;
  display: block;
}
.cm-image-adaptive {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
}
.cm-text-overflow,
.button,
.pt__menu--sidebar > ul > li > a,
.pt__menu--sidebar > ul > li > a .title,
.lt__sidebar__block > dt,
.lt__sidebar__block > dt .title,
.lt__sidebar__block > dt .counter,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cm-transition-none,
.lt__sidebar.is-immediately {
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
}
/* ******* PARTS: GRID ******* */
/* *** BASE *** */
.pt__grid {
  overflow: hidden;
}
.pt__grid > ul > li {
  width: 100%;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pt__grid > ul > li > a {
  display: block;
  cursor: pointer;
}
.pt__grid > ul > li > a > img {
  width: 100%;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.pt__grid > ul > li > a:hover > img {
  opacity: 0.7;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}
.pt__grid.is-inline > ul {
  overflow: hidden;
  white-space: nowrap;
}
.pt__grid.is-inrow {
  height: 100%;
}
.pt__grid.col-1 > ul > li {
  width: 100%;
}
.pt__grid.col-2 > ul > li {
  width: 50%;
}
.pt__grid.col-3 > ul > li {
  width: 33.33333333%;
}
.pt__grid.col-4 > ul > li {
  width: 25%;
}
.pt__grid.col-5 > ul > li {
  width: 20%;
}
.pt__grid.col-6 > ul > li {
  width: 16.66666667%;
}
.pt__grid.col-7 > ul > li {
  width: 14.28571429%;
}
.pt__grid.col-8 > ul > li {
  width: 12.5%;
}
.pt__grid.col-9 > ul > li {
  width: 11.11111111%;
}
.pt__grid.col-10 > ul > li {
  width: 10%;
}
.pt__grid.col-11 > ul > li {
  width: 9.09090909%;
}
.pt__grid.col-12 > ul > li {
  width: 8.33333333%;
}
.pt__grid > ul {
  margin: 10px -10px -10px;
}
.pt__grid > ul:first-child {
  margin: -10px;
}
.pt__grid > ul > li {
  padding: 10px;
}
.pt__grid.indent-1px > ul {
  margin: 1px -1px -1px;
}
.pt__grid.indent-1px > ul:first-child {
  margin: -1px;
}
.pt__grid.indent-1px > ul > li {
  padding: 1px;
}
.pt__grid.indent-2px > ul {
  margin: 2px -2px -2px;
}
.pt__grid.indent-2px > ul:first-child {
  margin: -2px;
}
.pt__grid.indent-2px > ul > li {
  padding: 2px;
}
/* *** SIDEBAR *** */
.pt__grid--sidebar {
  padding: 0 8px;
}
/* ******* PARTS: GRID: BUNDLE ******* */
/* ******* PARTS: ICONS ******* */
.icon {
  background: transparent 50% 50% no-repeat;
}
.icon.hidden {
  visibility: hidden;
}
.icon.inline {
  display: inline-block;
  vertical-align: top;
}
.icon.linked {
  cursor: pointer;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.icon.linked:hover {
  opacity: 0.7;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}
.icon.size-18 {
  width: 18px;
  height: 18px;
}
.icon.size-18.more-right {
  background-image: url("../img/icons/18/more-right.png");
}
.icon.size-26 {
  width: 26px;
  height: 26px;
}
.icon.size-26.plus-white {
  background-image: url("../img/icons/26/plus-white.png");
}
.icon.size-26.s-avatars {
  background-image: url("../img/icons/26/s-avatars.png");
}
.icon.size-26.s-circles {
  background-image: url("../img/icons/26/s-circles.png");
}
.icon.size-26.s-diary {
  background-image: url("../img/icons/26/s-diary.png");
}
.icon.size-26.s-friends {
  background-image: url("../img/icons/26/s-friends.png");
}
.icon.size-26.si-auctions {
  background-image: url("../img/icons/26/si-auctions.png");
}
.icon.size-26.si-family {
  background-image: url("../img/icons/26/si-family.png");
}
.icon.size-26.si-travel {
  background-image: url("../img/icons/26/si-travel.png");
}
.icon.size-26.s-memories {
  background-image: url("../img/icons/26/s-memories.png");
}
.icon.size-26.s-messages {
  background-image: url("../img/icons/26/s-messages.png");
}
.icon.size-26.s-profile {
  background-image: url("../img/icons/26/s-profile.png");
}
.icon.size-26.s-settings {
  background-image: url("../img/icons/26/s-settings.png");
}
.icon.size-28 {
  width: 28px;
  height: 28px;
}
.icon.size-28.facebook {
  background-image: url("../img/icons/28/facebook.png");
}
.icon.size-28.twitter {
  background-image: url("../img/icons/28/twitter.png");
}
.icon.size-28.google {
  background-image: url("../img/icons/28/google.png");
}
.icon.size-28.youtube {
  background-image: url("../img/icons/28/youtube.png");
}
.icon.size-28.search {
  background-image: url("../img/icons/28/search.png");
}
.icon.size-36 {
  width: 36px;
  height: 36px;
}
.icon.size-36.facebook {
  background-image: url("../img/icons/36/facebook.png");
}
.icon.size-36.twitter {
  background-image: url("../img/icons/36/twitter.png");
}
.icon.size-50 {
  width: 50px;
  height: 50px;
}
.icon.size-50.menu {
  background-image: url("../img/icons/50/menu.png");
}
.icon.icon-markets {
  width: 120px;
  height: 40px;
}
.icon.icon-markets.app-store {
  background-image: url("../img/icons/markets/app-store.png");
}
.icon.icon-markets.google-play {
  background-image: url("../img/icons/markets/google-play.png");
}
.icon.icon-markets.windows-store {
  background-image: url("../img/icons/markets/windows-store.png");
}
.icon.icon-logo.size-280 {
  width: 280px;
  height: 90px;
  background-image: url("../img/icons/logo/280.png");
}
.icon.icon-logo.size-126 {
  width: 126px;
  height: 50px;
  background-image: url("../img/icons/logo/126.png");
}
/* ******* PARTS: OVERLAY ******* */
.pt__overlay {
  display: none;
  position: absolute;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}
.pt__overlay > .bg {
  position: absolute;
  z-index: 1;
  opacity: 0.7;
  background-color: #ffffff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.pt__overlay > .inner {
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 2;
  margin: -16px 0 0 -16px;
  background: url('../img/parts/ajax-loader.gif');
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
}
.pt__overlay.is-preload {
  display: block;
  z-index: 2;
}
.pt__overlay.is-preload > .bg {
  background-color: #1e1e1e;
  opacity: 1;
}
.pt__overlay.is-preload > .inner {
  display: none;
}
.pt__overlay.is-show {
  visibility: visible;
  opacity: 1;
}
/* ******* PARTS: MORE ******* */
/* *** BASE *** */
.pt__more > a:after {
  width: 18px;
  height: 18px;
  margin-top: 0px;
  display: inline-block;
  vertical-align: top;
  content: '';
  background-image: url("../img/icons/18/more-right.png");
}
/* *** SIDEBAR *** */
.pt__more--sidebar {
  margin: 10px 0 0 0;
  padding: 0 8px;
}
/* *** SIDEBAR MENU *** */
.pt__more--sidebar-menu > a {
  display: block;
  padding: 0 8px 0 38px;
  line-height: 26px;
}
.pt__more--sidebar-menu > a:after {
  margin-top: 4px;
}
/* ******* PARTS: INPUTS ******* */
.input,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="phone"],
input[type="password"],
textarea,
select {
  width: 100%;
  height: 28px;
  padding: 3px 4px;
  margin: 0;
  vertical-align: top;
  background: #f9f9f9;
  border: 1px solid #e2e2e2;
  border-radius: 0px;
  outline: none;
  cursor: text;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
}
.input::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="phone"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  opacity: 1;
  color: #a0a0a0;
}
.input:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="phone"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder {
  opacity: 1;
  color: #a0a0a0;
}
.input::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="phone"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
  opacity: 1;
  color: #a0a0a0;
}
.input:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="phone"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  opacity: 1;
  color: #a0a0a0;
}
.input.style-alt,
input[type="text"].style-alt,
input[type="email"].style-alt,
input[type="number"].style-alt,
input[type="phone"].style-alt,
input[type="password"].style-alt,
textarea.style-alt,
select.style-alt {
  background: #fff;
  border: none;
  border-bottom: 2px solid #009fda;
}
.input.style-clear,
input[type="text"].style-clear,
input[type="email"].style-clear,
input[type="number"].style-clear,
input[type="phone"].style-clear,
input[type="password"].style-clear,
textarea.style-clear,
select.style-clear {
  background: #fff;
  border: none;
}
.textarea,
textarea {
  height: 100px;
  min-height: 28px;
  padding: 4px;
  resize: vertical;
}
.select[multiple],
select[multiple] {
  height: 156px;
  padding: 0;
}
.select[multiple].style-alt,
select[multiple].style-alt {
  height: 156px;
}
/* ******* PARTS: BUTTONS ******* */
.button,
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  margin: 0;
  padding: 0 16px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-appearance: none;
  border: none;
  border-radius: 0px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  background-clip: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}
.button.has-icon,
input[type="button"].has-icon,
input[type="submit"].has-icon,
input[type="reset"].has-icon,
button.has-icon {
  text-align: left;
  padding-left: 0;
}
.button.has-icon .icon,
input[type="button"].has-icon .icon,
input[type="submit"].has-icon .icon,
input[type="reset"].has-icon .icon,
button.has-icon .icon {
  margin-right: 16px;
}
.button.size-44,
input[type="button"].size-44,
input[type="submit"].size-44,
input[type="reset"].size-44,
button.size-44 {
  height: 44px;
  line-height: 44px;
}
.button.size-36,
input[type="button"].size-36,
input[type="submit"].size-36,
input[type="reset"].size-36,
button.size-36 {
  height: 36px;
  line-height: 36px;
}
.button.size-32,
input[type="button"].size-32,
input[type="submit"].size-32,
input[type="reset"].size-32,
button.size-32 {
  height: 32px;
  line-height: 32px;
}
.button.size-28,
input[type="button"].size-28,
input[type="submit"].size-28,
input[type="reset"].size-28,
button.size-28 {
  height: 28px;
  line-height: 28px;
}
.button.button-active,
input[type="button"].button-active,
input[type="submit"].button-active,
input[type="reset"].button-active,
button.button-active {
  background-color: #009fda;
}
.button.button-alt,
input[type="button"].button-alt,
input[type="submit"].button-alt,
input[type="reset"].button-alt,
button.button-alt {
  background-color: #47b537;
}
.button.style-twitter,
input[type="button"].style-twitter,
input[type="submit"].style-twitter,
input[type="reset"].style-twitter,
button.style-twitter {
  background-color: #30bbe9;
}
.button.style-twitter.size-36,
input[type="button"].style-twitter.size-36,
input[type="submit"].style-twitter.size-36,
input[type="reset"].style-twitter.size-36,
button.style-twitter.size-36 {
  font-weight: normal;
}
.button.style-twitter.has-icon .icon,
input[type="button"].style-twitter.has-icon .icon,
input[type="submit"].style-twitter.has-icon .icon,
input[type="reset"].style-twitter.has-icon .icon,
button.style-twitter.has-icon .icon {
  border-right: 1px solid #4fc5ec;
}
.button.style-facebook,
input[type="button"].style-facebook,
input[type="submit"].style-facebook,
input[type="reset"].style-facebook,
button.style-facebook {
  background-color: #325190;
}
.button.style-facebook.size-36,
input[type="button"].style-facebook.size-36,
input[type="submit"].style-facebook.size-36,
input[type="reset"].style-facebook.size-36,
button.style-facebook.size-36 {
  font-weight: normal;
}
.button.style-facebook.has-icon .icon,
input[type="button"].style-facebook.has-icon .icon,
input[type="submit"].style-facebook.has-icon .icon,
input[type="reset"].style-facebook.has-icon .icon,
button.style-facebook.has-icon .icon {
  border-right: 1px solid #516ba1;
}
.pt__buttons {
  margin-top: 16px;
}
.pt__buttons.is-box .button,
.pt__buttons.is-box .browse-button,
.pt__buttons.is-box input[type="button"],
.pt__buttons.is-box input[type="submit"],
.pt__buttons.is-box input[type="reset"],
.pt__buttons.is-box button {
  width: 100%;
  display: block;
  margin: 16px 0 0 0;
  float: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pt__buttons.is-box .button:first-child,
.pt__buttons.is-box .browse-button:first-child,
.pt__buttons.is-box input[type="button"]:first-child,
.pt__buttons.is-box input[type="submit"]:first-child,
.pt__buttons.is-box input[type="reset"]:first-child,
.pt__buttons.is-box button:first-child {
  margin: 0;
}
/* ******* PARTS: FORM ******* */
.pt__form {
  cursor: default;
}
/* *** FIELD *** */
.pt__form dl {
  margin: 16px 0 0 0;
  padding: 0;
  display: block;
  clear: both;
}
.pt__form dl.is-box > dt {
  width: auto;
  float: none;
}
.pt__form dl.is-box > dd {
  margin: 0 0 8px 0;
}
.pt__form dl.is-box > dd:last-child {
  margin: 0;
}
.pt__form > dl:first-child {
  margin-top: 0;
}
.pt__form > dt {
  width: 150px;
  display: block;
  margin: 0;
  padding: 5px 0;
  float: left;
  line-height: 18px;
}
.pt__form > dd {
  display: block;
  margin: 0 0 0 166px;
  padding: 0;
  position: relative;
}
.pt__form > dd:first-child {
  margin: 0;
}
/* ******* PARTS: MENU ******* */
/* *** BASE *** */
.pt__menu > ul > li > a {
  display: inline-block;
  vertical-align: top;
}
.pt__menu.pull-left > ul {
  text-align: left;
}
.pt__menu.pull-center > ul {
  text-align: center;
}
.pt__menu.pull-right > ul {
  text-align: right;
}
/* *** HEADER *** */
.pt__menu--header > ul > li {
  margin: 0 18px 0 0;
}
.pt__menu--header > ul > li > a {
  text-transform: uppercase;
}
.pt__menu--header > ul > li:last-child {
  margin-right: 0;
}
/* *** FOOTER *** */
.pt__menu--footer > ul > li:after {
  width: 1px;
  height: 16px;
  margin: 1px 8px;
  display: inline-block;
  vertical-align: top;
  background-color: #cce2f4;
  content: '';
}
.pt__menu--footer > ul > li > a {
  font-size: 12px;
}
.pt__menu--footer > ul > li:last-child:after {
  display: none;
}
/* *** LINKS *** */
.pt__menu--links > ul > li {
  margin: 0 10px 0 0;
}
.pt__menu--links > ul > li > a {
  font-size: 12px;
}
.pt__menu--links > ul > li:last-child {
  margin-right: 0;
}
/* *** SIDEBAR *** */
.pt__menu--sidebar > ul > li {
  height: 26px;
  display: block;
}
.pt__menu--sidebar > ul > li > a {
  padding: 0 8px;
  display: block;
  line-height: 26px;
  color: #000000;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.pt__menu--sidebar > ul > li > a .counter {
  float: right;
  margin: 0 0 0 8px;
  font-weight: bold;
  color: #a0a0a0;
}
.pt__menu--sidebar > ul > li.active > a {
  background-color: #cf1715;
  color: #fff;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.pt__menu--sidebar.has-icon-left > ul > li > a {
  padding: 0 8px 0 4px;
}
.pt__menu--sidebar.has-icon-left > ul > li > a .icon {
  margin: 0 8px 0 0;
  float: left;
}
.pt__menu--sidebar.has-icon-right > ul > li > a {
  padding: 0 0 0 8px;
  font-weight: bold;
}
.pt__menu--sidebar.has-icon-right > ul > li > a .icon {
  margin: 0;
  float: right;
}
/* ******* PARTS: SHARE ******* */
/* *** BASE *** */
.pt__share > ul > li a {
  display: block;
}
.pt__share > ul > li a img {
  display: block;
}
.pt__share.pull-left {
  text-align: left;
}
.pt__share.pull-center {
  text-align: center;
}
.pt__share.pull-right {
  text-align: right;
}
/* *** FOOTER *** */
.pt__share--footer > ul > li {
  margin: 0 10px 0 0;
}
.pt__share--footer > ul > li:last-child {
  margin-right: 0;
}
/* ******* PARTS: MARKETS ******* */
/* *** BASE *** */
.pt__markets > ul > li {
  margin: 0 10px 0 0;
}
.pt__markets > ul > li a {
  display: block;
}
.pt__markets > ul > li a img {
  display: block;
}
.pt__markets > ul > li:last-child {
  margin-right: 0;
}
.pt__markets.pull-left {
  text-align: left;
}
.pt__markets.pull-center {
  text-align: center;
}
.pt__markets.pull-right {
  text-align: right;
}
/* ******* PARTS: SEARCH ******** */
/* *** BASE *** */
.pt__search .input,
.pt__search input[type="text"],
.pt__search input[type="email"],
.pt__search input[type="number"],
.pt__search input[type="phone"],
.pt__search input[type="password"],
.pt__search textarea,
.pt__search select {
  width: 300px;
  float: left;
}
.pt__search .button,
.pt__search input[type="button"],
.pt__search input[type="submit"],
.pt__search input[type="reset"],
.pt__search button {
  width: 64px;
  float: left;
}
.pt__search .button .icon,
.pt__search input[type="button"] .icon,
.pt__search input[type="submit"] .icon,
.pt__search input[type="reset"] .icon,
.pt__search button .icon {
  display: block;
  margin: 0 auto;
}
/* ******* PARTS: USER DROPDOWN ******* */
/* *** BASE *** */
.pt__user-dropdown {
  cursor: pointer;
}
.pt__user-dropdown > .image,
.pt__user-dropdown > .name,
.pt__user-dropdown > .arrow {
  margin: 0 8px 0 0;
  float: left;
}
.pt__user-dropdown > .image img {
  display: block;
}
.pt__user-dropdown > .arrow {
  width: 8px;
  margin: 0;
  position: relative;
}
.pt__user-dropdown > .arrow:before {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  margin: -1px 0 0 0;
  content: '';
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #1e1e1e transparent transparent transparent;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
}
.pt__user-dropdown.size-34 > .image,
.pt__user-dropdown.size-34 > .name,
.pt__user-dropdown.size-34 > .arrow {
  height: 34px;
  line-height: 34px;
}
.pt__user-dropdown.size-34 > .image img {
  border-radius: 34px;
}
/* *** HEADER *** */
.pt__user-dropdown--header > .arrow {
  width: 8px;
  margin: 0;
}
.pt__user-dropdown--header > .arrow:before {
  border-color: #ffffff transparent transparent transparent;
}
/* ************ LAYOUTS ************ */
/* ******* LAYOUTS: SLIDER ******* */
.lt__slider__slides {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.lt__slider__slides > ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  list-style: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.lt__slider__slides > ul > li:after {
  display: block;
  position: absolute;
  z-index: 3;
  box-shadow: inset 0 0 200px #000000;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.lt__slider__slides > ul > li > .image {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}
@media only screen and (max-width: 1500px) {
  .lt__slider__slides > ul > li > .image {
    width: 1500px;
    left: 50%;
    margin-left: -750px;
  }
}
.lt__slider__slides > ul > li > .text {
  width: 1000px;
  margin-left: -500px;
  position: absolute;
  z-index: 4;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.lt__slider__slides.effect-fade > ul > li {
  display: none;
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.lt__slider__slides.effect-fade > ul > li:first-child {
  display: block;
  z-index: 2;
  opacity: 1;
}
.lt__slider__slides.effect-push > ul {
  white-space: nowrap;
  font-size: 0;
}
.lt__slider__slides.effect-push > ul > li {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.lt__slider__buttons {
  position: absolute;
  z-index: 2;
  top: auto;
  right: 0;
  bottom: 40px;
  left: 0;
}
.lt__slider__buttons > ul {
  text-align: center;
}
.lt__slider__buttons > ul > li {
  margin: 0 16px 0 0;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.lt__slider__buttons > ul > li:last-child {
  margin-right: 0;
}
.lt__slider__buttons > ul > li:hover,
.lt__slider__buttons > ul > li.active {
  background-color: #cf1715;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}
/* ******* LAYOUTS: LOGIN ******* */
.lt__login {
  width: 380px;
  background: #ffffff;
  position: relative;
}
.lt__login:after {
  width: 20px;
  display: block;
  position: absolute;
  top: 20px;
  right: -20px;
  bottom: 0;
  left: auto;
  opacity: 0.6;
  content: '';
  background-image: -webkit-linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}
.lt__login > .inner {
  padding: 34px 50px 44px;
}
.lt__login.pull-left {
  float: left;
}
.lt__login.pull-center {
  margin: 0 auto;
}
.lt__login.pull-right {
  float: right;
}
.lt__login__logo {
  margin: 0 0 16px;
}
.lt__login__social-login {
  margin: 0 0 30px;
}
.lt__login__form {
  margin: 0 0 6px;
}
.lt__login__links {
  margin: 0 0 20px;
}
.lt__login__submit-box {
  margin: 0;
}
/* ******* LAYOUTS: SIDEBAR ******* */
.lt__sidebar {
  width: 200px;
  position: absolute;
  z-index: 2;
  background-color: #ffffff;
  border-right: 1px solid #e2e2e2;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  -ms-transition: -ms-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lt__sidebar > .inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.lt__sidebar > .inner > .top {
  padding: 16px 9px 0 8px;
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 48px;
  left: 0;
}
.lt__sidebar > .inner > .bottom {
  height: 48px;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
}
.lt__sidebar.is-expanded {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.lt__sidebar.is-collapsed {
  -webkit-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  transform: translateX(-200px);
}
/* *** BLOCK *** */
.lt__sidebar__block {
  margin: 10px 0 0 0;
  padding: 0;
}
.lt__sidebar__block > dt {
  padding: 0 26px 0 8px;
  margin: 0;
  position: relative;
  font-size: 0;
  cursor: pointer;
}
.lt__sidebar__block > dt .title,
.lt__sidebar__block > dt .counter {
  line-height: 26px;
}
.lt__sidebar__block > dt .counter {
  margin: 0 0 0 5px;
  font-weight: normal;
}
.lt__sidebar__block > dt .counter:before {
  content: '(';
}
.lt__sidebar__block > dt .counter:after {
  content: ')';
}
.lt__sidebar__block > dt .icon {
  position: absolute;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  -ms-transition: -ms-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
}
.lt__sidebar__block > dt .icon.default {
  width: 26px;
  height: 26px;
}
.lt__sidebar__block > dt .icon.default:before {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  margin: -4px 0 0 -2px;
  content: '';
  border-style: solid;
  border-width: 4px 0 5px 4px;
  border-color: transparent transparent transparent #a0a0a0;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
}
.lt__sidebar__block > dd {
  padding: 0;
}
.lt__sidebar__block.has-separator {
  padding-top: 10px;
  border-top: 1px solid #e2e2e2;
}
.lt__sidebar__block:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
.lt__sidebar__block.is-show > dt .icon {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.lt__sidebar__block--create {
  margin-right: -10px;
}
/* ******* LAYOUTS: SPLASH ******* */
.lt__splash {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
/* *** HEADER *** */
.lt__splash__header {
  height: 33px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 4;
  background: url('../img/layouts/splash/header-bg.png') 100% 0 no-repeat;
}
.lt__splash__header .header-menu {
  margin: 0 18px 0 0;
  float: right;
  padding: 7.5px 0;
}
/* *** CONTENT *** */
.lt__splash__content {
  padding: 0 0 160px 0;
}
.lt__splash__content .lt__slider__buttons {
  z-index: 3;
  top: auto;
  right: 0;
  bottom: 185px;
  left: 0;
}
.lt__splash__slide-text-1 {
  padding: 265px 0 0 0;
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.lt__splash__slide-text-2 {
  padding: 110px 0 0 22px;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
}
.lt__splash__slide-text-3 {
  padding: 65px 0 0 0;
  font-size: 50px;
  line-height: 60px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
}
.lt__splash__main {
  position: relative;
  z-index: 2;
}
.lt__splash__main > .inner {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* *** FOOTER *** */
.lt__splash__footer {
  height: 160px;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  overflow: hidden;
  background: #ffffff;
}
.lt__splash__footer:before {
  height: 20px;
  display: block;
  position: absolute;
  top: -20px;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: -1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  content: '';
}
.lt__splash__footer > .inner {
  position: relative;
  z-index: 1;
}
.lt__splash__footer > .inner > .l {
  padding: 45px 0 0 0;
  float: left;
}
.lt__splash__footer > .inner > .r {
  padding: 62px 0 0 0;
  float: right;
}
.lt__splash__footer .pt__menu--footer {
  margin: 0 0 26px;
}
.lt__splash__footer .pt__share--footer {
  margin: 0 16px 0 0;
  float: left;
}
.lt__splash__copyright {
  float: left;
  white-space: nowrap;
  line-height: 28px;
  font-size: 12px;
  color: #646464;
}
/* ******* LAYOUTS ******* */
.lt__base {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #1e1e1e;
}
/* *** HEADER *** */
.lt__base__header {
  height: 50px;
  position: absolute;
  background-color: #1e1e1e;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
}
.lt__base__header > .inner > .r {
  float: right;
}
.lt__base__header > .inner > .l {
  float: left;
}
.lt__base__header .header-toggle,
.lt__base__header .header-logo,
.lt__base__header .header-search,
.lt__base__header .header-menu,
.lt__base__header .header-user {
  float: left;
}
.lt__base__header .header-toggle .icon,
.lt__base__header .header-logo .icon,
.lt__base__header .header-search .icon,
.lt__base__header .header-menu .icon,
.lt__base__header .header-user .icon {
  display: block;
}
.lt__base__header .header-search {
  margin: 0 0 0 24px;
  padding: 11px 0;
}
.lt__base__header .header-menu {
  margin: 0 0 0 18px;
  padding: 16px 0;
}
.lt__base__header .header-user {
  margin: 0 16px 0 18px;
  padding: 8px 0;
}
/* *** CONTENT *** */
.lt__base__content {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}
/* ******* LAYOUTS: TUTORIAL ******* */
/* ************ MAIN STYLES ************ */
