/* ******* PARTS: FONT ******* */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);

.font-base {
    font: @Font-Base-Weight ~'@{Font-Base-Size}/@{Font-Base-LineHeight}' @Font-Base-Family;
    color: @Color-Base;
}

.font-link {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: @Color-Link;

    &:hover {
        text-decoration: none;
        color: @Color-LinkHover;
    }
}

.font-header {
    font: 700 ~'@{Font-Header-Size}/@{Font-Base-LineHeight}' @Font-Header-Family;
    color: @Color-Header;
}

.font-input {
    font: @Font-Base-Weight ~'@{Font-Input-Size}/@{Font-Input-LineHeight}' @Font-Base-Family;
    color: @Color-Input;
}

.font-button-big {
    font: @Font-ButtonBig-Weight ~'@{Font-ButtonBig-Size}/@{Font-Base-LineHeight}' @Font-Base-Family;
    color: @Color-Button;
}

.font-button-medium {
    font: bold ~'@{Font-ButtonMedium-Size}/@{Font-Base-LineHeight}' @Font-Base-Family;
    color: @Color-Button;
}

.font-slider {
    font: @Font-Slider-Weight ~'@{Font-Slider-Size}/@{Font-Slider-LineHeight}' @Font-Slider-Family;
    color: @Color-Slider;
}

.font-slider-h2 {
    font: @Font-Slider-Weight ~'@{Font-Slider-SizeH2}/@{Font-Slider-LineHeightH2}' @Font-Slider-Family;
    color: @Color-Slider;
}

.font-slider-h3 {
    font: @Font-Slider-Weight ~'@{Font-Slider-SizeH3}/@{Font-Slider-LineHeightH3}' @Font-Slider-Family;
    color: @Color-Slider;
}

.font-title-small {
    font: bold ~'@{Font-TitleSmall-Size}/@{Font-Base-LineHeight}' @Font-Base-Family;
    color: @Color-TitleSmall;
    text-transform: uppercase;
}