/* ******* PARTS: ICONS ******* */

.icon {
    background: transparent 50% 50% no-repeat;

    &.hidden {
        visibility: hidden;
    }

    &.inline {
        display: inline-block;
        vertical-align: top;
    }

    &.linked {
        cursor: pointer;
        .mix-transition(opacity @PT-Icon-Duration ease-in-out);

        &:hover {
            opacity: @PT-Icon-Linked-Opacity;
            .mix-transition(opacity @PT-Icon-DurationReverse ease-in-out);
        }
    }

    &.pull-center {
        margin: 0 auto;
    }

    // /* *** 18 x 18 *** */

    &.size-18 {
        width: 18px;
        height: 18px;

        .for(more-right arrow-down); .-each(@name) {
            &.@{name} {
                background-image: url("@{Path-Image}/icons/18/@{name}.png");
            }
        }
    }

    // /* *** 22 x 22 *** */

    &.size-22 {
        width: 22px;
        height: 22px;

        .for(backward); .-each(@name) {
            &.@{name} {
                background-image: url("@{Path-Image}/icons/22/@{name}.png");
            }
        }
    }

    // /* *** 24 x 24 *** */

    &.size-24 {
        width: 24px;
        height: 24px;

        .for(icon-1 icon-2 icon-3 icon-4 edit facebook like send share twitter); .-each(@name) {
            &.@{name} {
                background-image: url("@{Path-Image}/icons/24/@{name}.png");
            }
        }
    }

    // /* *** 26 x 26 *** */

    &.size-26 {
        width: 26px;
        height: 26px;

        .for(plus-white s-avatars s-circles s-diary s-friends si-auctions si-family si-travel s-memories s-messages s-profile s-settings); .-each(@name) {
            &.@{name} {
                background-image: url("@{Path-Image}/icons/26/@{name}.png");
            }
        }
    }

    // /* *** 28 x 28 *** */

    &.size-28 {
        width: 28px;
        height: 28px;

        .for(facebook twitter google youtube search); .-each(@name) {
            &.@{name} {
                background-image: url("@{Path-Image}/icons/28/@{name}.png");
            }
        }
    }

    // /* *** 36 x 36 *** */

    &.size-36 {
        width: 36px;
        height: 36px;

        .for(facebook twitter); .-each(@name) {
            &.@{name} {
                background-image: url("@{Path-Image}/icons/36/@{name}.png");
            }
        }
    }

    // /* *** 50 x 50 *** */

    &.size-50 {
        width: 50px;
        height: 50px;

        .for(menu); .-each(@name) {
            &.@{name} {
                background-image: url("@{Path-Image}/icons/50/@{name}.png");
            }
        }
    }

    // /* *** MARKETS *** */

    &.icon-markets {
        width: 120px;
        height: 40px;

        .for(app-store google-play windows-store); .-each(@name) {
            &.@{name} {
                background-image: url("@{Path-Image}/icons/markets/@{name}.png");
            }
        }
    }

    // /* *** LOGO *** */

    &.icon-logo {
        &.size-280 {
            width: 280px;
            height: 90px;
            background-image: url("@{Path-Image}/icons/logo/280.png");
        }

        &.size-126 {
            width: 126px;
            height: 50px;
            background-image: url("@{Path-Image}/icons/logo/126.png");
        }
    }

    // /* *** CREATE *** */

    &.icon-create {
        width: 280px;
        height: 240px;

        .for(avatar memory); .-each(@name) {
            &.@{name} {
                background-image: url("@{Path-Image}/icons/create/@{name}.png");
            }
        }
    }

    // /* *** AVATARS SMALL *** */

    &.icon-avatar-small {
        width: 118px;
        height: 90px;

        .for(book crown cutlery jewelry knife mask microscope motorcycle necklace pitcher pram sofa toys trumpet weapon wine); .-each(@name) {
            &.@{name} {
                background-image: url("@{Path-Image}/icons/avatars/small/@{name}.png");
            }
        }
    }

    &.icon-avatar-big {
        width: 214px;
        height: 214px;

        .for(necklace); .-each(@name) {
            &.@{name} {
                background-image: url("@{Path-Image}/icons/avatars/big/@{name}.png");
            }
        }
    }
}