/* ******* PARTS: LINE TITLE ******* */

.pt__line-title {
    &:extend(.clearfix all);

    > .r {
        margin: 0 0 0 20px;
        padding: 8px 0 0 0;
        float: right;
    }

    > .l {
        overflow: hidden;

        h1 {
            .label {
                margin: 0 16px 0 0;

                &:last-child {
                    margin: 0;
                }
            }

            .icon {
                margin-top: 8px;
            }
        }
    }

    .pt__tags__content {
        text-align: left;
    }
}