/* ******* PARTS: LINE TITLE ******* */

.pt__line-title {
    &:extend(.clearfix all);

    display: -webkit-flex;
    display:     -ms-flexbox;
    display:         flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;

    > .r {
        float: right;

        .pt__share {
            padding: 8px 0 0 0;
        }

        .pt__tags__content {
            text-align: right;
        }
    }

    > .l {
        max-width: 100%;
        float: left;
        overflow: hidden;
        -webkit-flex: auto;
            -ms-flex: auto;
                flex: auto;

        .pt__tags__content {
            text-align: left;
        }

        h1 {
            .label {
                margin: 0 16px 0 0;

                &:last-child {
                    margin: 0;
                }
            }

            .icon {
                margin-top: 8px;
            }
        }
    }

    &.size-h3 {
        > .r {
            .pt__share {
                padding: 2px 0 0 0;
            }

            p {
                padding: 8px 0 0 0;
            }
        }
    }
}