/* ******* PARTS: MORE ******* */

/* *** BASE *** */

.pt__more {
    > a {
        &:after {
            width: 18px;
            height: 18px;
            margin-top: (@Font-Base-LineHeight - 18px) / 2;
            display: inline-block;
            vertical-align: top;
            content: '';
            .icon.size-18.more-right;
        }
    }
}

/* *** SIDEBAR *** */

.pt__more--sidebar {
    margin: 10px 0 0 0;
    padding: 0 @LT-Sidebar-InnerIndent;
}

/* *** SIDEBAR MENU *** */

.pt__more--sidebar-menu {
    > a {
        display: block;
        padding: 0 @PT-Menu-Sidebar-Indent 0 (@PT-Menu-Sidebar-Indent + @PT-Menu-Sidebar-IndentIconLeft + @PT-Menu-Sidebar-Height);
        line-height: @PT-Menu-Sidebar-Height;

        &:after {
            margin-top: (@PT-Menu-Sidebar-Height - 18px) / 2;
        }
    }
}